.glyphicon {
  cursor: pointer;
  color: #000;
}

.glyphicon-sort {
  margin: 5px;
}

.margin-1 {
  margin: 10px !important;
}

.margin-bottom-4 {
  margin-bottom: 40px !important;
}

.margin-top-2 {
  margin-top: 20px !important;
}

.x-large {
  font-size: x-large;
}

.smaller {
  font-size: smaller;
}

.larger {
  font-size: larger;
  font-weight: 600;
}

.glyphicon-plus-sign {
  margin-top: 3px;
}

.margin-left-negative-4 {
  margin-left: -40px;
}

.border-left {
  border-left: 2px solid #dddddd;
}

.padding-left-3 {
  padding-left: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.color-error {
  color: #a94442;
  font-weight: 600;
}

.color-success {
  color: #28a745;
  font-weight: 600;
}

.color-info {
  color: #777;
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 600;
}
