.glyphicon {
  cursor: pointer;
}

.glyphicon-plus-sign {
  color: #000;
}

.glyphicon-remove {
  color: #000;
}

.glyphicon-sort {
  margin: 5px;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.margin-1 {
  margin: 10px !important;
}

.margin-bottom-4 {
  margin-bottom: 40px !important;
}

.margin-top-2 {
  margin-top: 20px !important;
}

.margin-top-1 {
  margin-top: 10px !important;
}

.margin-left-1 {
  margin-left: 10px !important;
}

.margin-right-1 {
  margin-right: 10px !important;
}

.indent-top-bottom-1 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.radio-button {
  width: 100px;
  height: 100px;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x-large {
  font-size: x-large;
}

.xxx-large {
  font-size: 48px;
}

.font-24 {
  font-size: 24px;
}

.smaller {
  font-size: smaller;
}

.larger {
  font-size: larger;
  font-weight: 600;
}

.glyphicon-plus-sign {
  margin-top: 3px;
}

.margin-left-negative-4 {
  margin-left: -40px;
}

.border-left {
  border-left: 2px solid #dddddd;
}

.padding-left-3 {
  padding-left: 30px;
}

.padding-left-05 {
  padding-left: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.color-error {
  color: #a94442;
  font-weight: 600;
}

.color-success {
  color: #28a745;
  font-weight: 600;
}

.color-info {
  color: #777;
  font-weight: 600;
}

.font-weight-bold {
  font-weight: 600;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-end-center {
  justify-content: flex-end;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.width-20 {
  width: 200px;
}

.space-between {
  justify-content: space-between;
}

.word-break-word {
  word-break: break-word;
}

.limits-row {
  display: flex;
  flex-direction: row;
}

.width-8 {
  width: 80px;
}

.width-12 {
  width: 120px;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

textarea {
  resize: none;
}

.width-100p {
  width: 100%;
}

.width-auto {
  width: auto;
}

.flex-basis-16 {
  flex-basis: 16%;
}

.flex-basis-33 {
  flex-basis: 33.33%;
}

.flex-basis-66 {
  flex-basis: 66.66%;
}

.height-30 {
  height: 300px !important;
}

.disabled-input-well {
  border: 1px solid #ccc;
  padding: 6px 12px;
  background-color: #eee;
}

.flex-1 {
  flex: 1;
}

.nowrap {
  white-space: nowrap;
}
