.glyphicon {
  cursor: pointer;
}

.glyphicon-sort {
  margin: 5px;
}

.margin-1 {
  margin: 10px !important;
}

.x-large {
  font-size: x-large;
}

.glyphicon-plus-sign {
  margin-top: 15px;
}

.glyphicon-search {
  margin-top: 15px;
}

.border-left {
  border-left: 2px solid #dddddd;
}

.padding-left-3 {
  padding-left: 30px;
}
